.cont{
    width: 100%;
    color:white;
}
.header1{
    background: rgb(91, 91, 179);
    padding: 1% 1%;
}
.header{
   
    width: 75%;
    display: block;
    margin: auto;
}
img{
    width: 2%;
    height: 2%;
}
button{
    text-decoration: none;
}
.toleft{
    float: left;
}
.toleft::after {
    content: "";
    clear: both;
    display: table;
}
.toRight{
    float: right;
}
.toRight::after {
    content: "";
    clear: both;
    display: table;
} 